body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00eaff;
    position: fixed;
    top: 8px;
    padding: 8px;
}
.all{
    background-color: rgb(235, 243, 214);
}
.center{
  text-align: center;
}
.list{
    display: flex;
}
.list li{
    padding: 120px;
    font-size: 120px;
    list-style-type: none;
    padding-right: 150px;
}
.navbar img{
    border-radius: 50%;
    padding: 30px;
}
.navbar a{
    list-style-type: none;
    color: rgb(17, 17, 17);
    text-decoration: none;
}
.navbar a:hover{
  color: rgb(241, 242, 247);
  background-color: black;
  border-radius: 30px;
}
/*input{
    border-radius: 40px;
    height: 100px;
    width: 1000px;
    border: none;
    font-size: 50px;
    color: #564d4d;
    border: none;
}*/
.h1{
    color: rgb(255, 254, 254);
    padding-top: 600px;
}
.home h1{
  color: rgb(255, 254, 254);
    font-size: 100px;
    margin-bottom: 100px;
}
.home a h1:hover{
  color: red;
  border-radius: 10px;
}
.home img{
  height: 1500px;
  width: 700;
  padding: 30px;
  border-radius: 10%;
}
.home{
  background-color: #020527;
  text-align: center;
}
.home p{
    font-size: 90px;
    color: rgb(245, 248, 241);
}

  .search-container {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 1000px;
    padding-top: 130px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .search-input {
    padding: 8px 30px 10px 10px; /* Adjust the padding */
    border-radius: 40px;
    height: 100px;
    width: 1000px;
    border: none;
    font-size: 50px;
    color: #564d4d;
  }
.search-icon {
    position: absolute;
    top: 80%;
    right: 80px;
    transform: translateY(-50%);
    font-size: 60px;
    color: #aaa;
}
.all2{
  text-align: center;
}
.inhtml h1{
  font-size: 500px;
  padding-left: 250px;
}
.inhtml h3{
  font-size: 200px;
  padding-left: 250px;
}
.html{
  background-color: #7596eb;
}
.html img{
  height: 2700px;
  width: 2100px;
  padding: 80px;
  border-radius: 10%;
}
.learn{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgb(235, 227, 142);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.bt2{
  padding-top: 100px;
}
.video{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(16, 16, 16);
  background-color: rgb(234, 95, 70);
  font-size: 60px;
  border: none;
  border-radius: 40px;
  text-decoration: none;
}
a{
    text-decoration: none;
    color: #000;
}
.bt3{
  padding-top: 100px;
}
.project{
  height: 150px;
  width: 600px;
  text-align: center;
  color: black;
  background-color: rgb(191, 138, 240);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.incss h1{
  font-size: 500px;
  padding-left: 250px;
}
.incss h3{
  font-size: 200px;
  padding-left: 250px;
}
.css{
  background-color: rgb(241, 244, 153);
}
.css img{
  height: 2700px;
  width: 2100px;
  padding: 80px;
  border-radius: 10%;
}
.learn2{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgb(167, 222, 115);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.btc2{
  padding-top: 100px;
}
.video2{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(16, 16, 16);
  background-color: rgb(234, 95, 70);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.btc3{
  padding-top: 100px;
}
.project2{
  height: 150px;
  width: 600px;
  text-align: center;
  color: black;
  background-color: rgb(191, 138, 240);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.injs h1{
  font-size: 500px;
  padding-left: 250px;
}
.injs h3{
  font-size: 200px;
  padding-left: 250px;
}
.js{
  background-color: rgb(241, 151, 185);
}
.js img{
  height: 2700px;
  width: 2100px;
  padding: 80px;
  border-radius: 10%;
}
.learn3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgb(167, 222, 115);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.btj2{
  padding-top: 100px;
}
.video3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(16, 16, 16);
  background-color: rgb(234, 95, 70);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.btj3{
  padding-top: 100px;
}
.project3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: black;
  background-color: rgb(191, 138, 240);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.jq h1{
  font-size: 500px;
  padding-left: 250px;
}
.injq h3{
  font-size: 200px;
  padding-left: 250px;
}
.jq{
  background-color: rgb(156, 191, 224);
}
.jq img{
  height: 2700px;
  width: 2100px;
  padding: 80px;
  border-radius: 10%;
}
.learn3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgb(167, 222, 115);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.btjq2{
  padding-top: 100px;
}
.video3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(16, 16, 16);
  background-color: rgb(234, 95, 70);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.btjq3{
  padding-top: 100px;
}
.project3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: black;
  background-color: rgb(191, 138, 240);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.sql h1{
  font-size: 500px;
  padding-left: 250px;
}
.insql h3{
  font-size: 200px;
  padding-left: 250px;
}
.sql{
  background-color: rgb(223, 197, 161);
}
.sql img{
  height: 2700px;
  width: 2100px;
  padding: 80px;
  border-radius: 10%;
}
.learn3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgb(167, 222, 115);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.bts2{
  padding-top: 100px;
}
.video3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(16, 16, 16);
  background-color: rgb(234, 95, 70);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.bts3{
  padding-top: 100px;
}
.project3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: black;
  background-color: rgb(191, 138, 240);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.inreact h1{
  font-size: 500px;
  padding-left: 250px;
}
.inreact h3{
  font-size: 200px;
  padding-left: 250px;
}
.React{
  background-color: rgb(177, 252, 250);
}
.React img{
  height: 2700px;
  width: 2100px;
  padding: 80px;
  border-radius: 10%;
}
.learn3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgb(167, 222, 115);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.btr2{
  padding-top: 100px;
}
.video3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(16, 16, 16);
  background-color: rgb(234, 95, 70);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.btr3{
  padding-top: 100px;
}
.project3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: black;
  background-color: rgb(191, 138, 240);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.inang h1{
  font-size: 500px;
  padding-left: 250px;
}
.inang h3{
  font-size: 200px;
  padding-left: 250px;
}
.Angular{
  background-color: rgb(156, 141, 212);
}
.Angular img{
  height: 2700px;
  width: 2400px;
  padding: 80px;
  border-radius: 10%;
}
.learn3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgb(167, 222, 115);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.bta2{
  padding-top: 100px;
}
.video3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: rgb(16, 16, 16);
  background-color: rgb(234, 95, 70);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.bta3{
  padding-top: 100px;
}
.project3{
  height: 150px;
  width: 600px;
  text-align: center;
  color: black;
  background-color: rgb(191, 138, 240);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.exa{
  background-color: #030218;
}
.quiz h1{
  color: rgb(255, 254, 254);
  font-size: 200px;
  padding: 80px;
  text-align: center;
}
.quiz p{
  font-size: 120px;
  padding-left: 100px;
  color: rgb(245, 248, 241);
  text-align: center;
}
.learn22{
  height: 150px;
  width: 900px;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgb(232, 73, 41);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.bte2{
  padding-top: 100px;
}
.video22{
  height: 150px;
  width: 900px;
  text-align: center;
  color: rgb(16, 16, 16);
  background-color: rgb(246, 231, 73);
  font-size: 60px;
  border: none;
  border-radius: 40px;
}
.footer{
  display: flex;
  padding-bottom: 200px;
}
.titorial h1{
  color: white;
  font-size: 200px;
}
.titorial li{
  color: white;
  font-size: 100px;
  padding-right: 800px;
  margin-left: 500px;
  list-style: none;
}
.titorial li a{
  color: white;
  text-decoration: none;
}
.titorial li a:hover{
  color: yellow;
}
.top_example h1{
  color: white;
  font-size: 200px;
  
}
.top_example li{
  color: white;
  font-size: 100px;
  list-style: none;
}
.top_example li a{
  color: white;
  text-decoration: none;
}
.top_example li a:hover{
  color: yellow;
}
.top_project h1{
  color: white;
  font-size: 200px;
  padding-left: 300px;
}
.top_project li{
  color: white;
  font-size: 100px;
  padding-left: 300px;
  list-style: none;
}
.top_project li a{
  color: white;
  text-decoration: none;
}
.top_project li a:hover{
  color: yellow;
}
button:hover{
  background: rgb(34, 34, 35);
  border: 2px solid #d08686 ;
  color: rgb(243, 242, 240);
}
.icon-bar {
  top: 80%;
  display: flex;
  padding-left: 300px;
  padding-bottom: 300px;
}

.icon-bar a {
  text-align: center;
  padding: 60px;
  color: white;
  font-size: 100px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
.msg{
  display: flex;
  justify-content: center;
}
.msg2 p{
  color: white;
  font-size: 70px;
  padding-left: 70px;
  padding-right: 80px;
}

